{{define "footer"}}
    <p class="footer">
      by <a href="https://github.com/linden">Linden</a> | <a href="https://github.com/linden/claritybyexample">source</a> | <a href="https://github.com/linden/claritybyexample#license">license</a>
    </p>
{{end}}
